.buynow-Button {
    
    padding: 7px 15.4%;
    margin: 23px 0;
    background: #FB8902;
    outline: none;
    border: #FB8902;
    color: white;
    font-weight: bold;
    border-radius: 4px;

}

.cart-Button{
    padding: 7px 15.4%;
    margin: 23px 0;
    background: #F1F1F1;
    outline: none;
    border: none;
    color: #909090;
    font-weight: bold;
    border-radius: 4px;
}
@media (max-width:430px) {
    .buynow-Button {
    
        padding: 7px 11.4%;
        margin: 23px 0;
        background: #FB8902;
        outline: none;
        border: #FB8902;
        color: white;
        font-weight: bold;
        border-radius: 4px;
    
    }
    
    .cart-Button{
        padding: 7px 8.4%;
        margin: 23px 0;
        background: #F1F1F1;
        outline: none;
        border: none;
        color: #909090;
        font-weight: bold;
        border-radius: 4px;
    }
  }