@media (max-width: 1200px) {
  body {
    padding-top: 0 !important;
  }
}

@media (max-width: 767px){ body {
  padding-left: initial;
  padding-right: initial;
}}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: auto !important;
    margin-left: -15px;
}